[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-watch = "*"
flake8 = "*"
black = "*"

[packages]
ccxt = "*"
tweepy = "*"
schedule = "*"
click = "*"
transitions = "*"
toml = "*"
luigi = "*"
prompt-toolkit = "*"
python-decouple = "*"
pillow = "*"
logme = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
