[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest-watch = "*"
flake8 = "*"

[packages]
ccxt = "*"
tweepy = "*"
schedule = "*"
click = "*"
appdirs = "*"
transitions = "*"
toml = "*"
luigi = "*"
prompt-toolkit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
